<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/logoDisplay.png" />
    <link rel="stylesheet" href="/css/update.css" />
    <title>SkillConnect - Edit Details</title>
  </head>
  <body>
    <div>
      <h1>Edit Details</h1>
      <form
        method="POST"
        action="/home/<%=role%>/profile/<%=id%>/<%=col%>/edit?_method=PATCH"
      >
        <input
          type="text"
          placeholder="Enter New <%=col%>"
          name="newdata"
          required
        />
        <br /><br /><br />
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
