* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 5rem;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.734);
}

.photo,
.info {
  height: 80%;
  width: 40%;
  margin: 5rem;
  padding: 2rem;
  border: 5px solid black;
  background-color: black;
  color: white;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 10px white;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.detail {
  width: 100%;
  height: 2.5rem;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.2rem;
  background-color: white;
  color: black;
}

button {
  padding: 0;
  font-size: 1.2rem;
  background-color: blue;
  height: 2.5rem;
  width: 4rem;
  color: white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

button:hover {
  background-color: green;
  color: yellow;
}

#userImage {
  border-radius: 50%;
  height: 55%;
  width: 60%;
}

.back {
  height: 3rem;
  width: 4rem;
  background-color: white;
  border: 2px solid black;
  color: black;
  border-radius: 0.5rem;
}

#image {
  width: 80%;
  text-align: center;
}

#image button {
  height: 3rem;
  width: 50%;
  background-color: white;
  color: black;
  border: 2px solid black;
  box-shadow: 0 0 10px whitesmoke;
  border-radius: 1rem;
}
